.content{
    display: flex;
}
.textt{
    margin-left: 20vh;
    margin-right: 26vh;
    margin-bottom: 17vh;
}
.imgAbout{
    height: 630px;
    width: 510px;
    margin-left: 25vh;
}
i{
    padding: 20px;
}

.social{
    align-items: center;
    margin-right: 10vh;
}